# src/main/resources/application-docker.yml
server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/ro_notification_db?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: root_password
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
      config:
        server-addr: nacos:8848